<form action="/events" method="post" onSubmit={onSubmit}>
    <input className="eventFiled" value= "Event Name" type="text" > 
    <input className="eventTime" value= "Time" type="time"  > 
    <input className="eventDate" value="Date" type="date" >
    <input className="eventLocat" value="Location" type="location" >
    <br></br>
    <input className="eventDescr" value="Description" type="text box" >
    <input className="eventImg" value="Add Images" type="image" >
    <br></br>
    <button className="submitBtn">Submit</button>
</form>
